#app {
  max-width: 100%;
  margin: 0;
  padding: 50px 300px;
  text-align: center;
  background-color: #000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  /* border: solid greenyellow 1px; */
}

.title {
  color: cyan;
  margin: 0;
  padding: 0;
}
