.login {
  color: yellow;
}
.login__title {
  margin: 0;
  padding: 0;
}

.login__title-text {
  margin: 0;
  padding: 0;
}

.login__membership {
  margin: 0;
  padding: 0;
}

.login__membership-link {
  color: inherit;
  text-decoration: none;
}
